<ion-view view-title="Rechercher">
  <ion-content>
	<head>
	</head>    
    <body>
		<div class="item item-image">
			<img src="img/blablacarbanner.png">
		</div>
		<div class="list list-inset">
			<label class="item item-input">
			<input type="text" placeholder="Ville de départ">
			</label>
				<label class="item item-input">
				<input type="text" placeholder="Ville de d'arrivée">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Date de covoiturage">
			</label>
			<button class="button button-block button-positive">
				Rechercher
			</button>
		</div>
    </body>  
  </ion-content>
</ion-view>
